{
  "lockfile_version": "1",
  "packages": {
    "cyrus_sasl@latest": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#cyrus_sasl",
      "source": "devbox-search",
      "version": "2.1.28",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/jmrlx2qdwh0f1iq5v93zxbvx3cdpqp6a-cyrus-sasl-2.1.28-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/pb2jdskmwmmh9vss5bsqgxafz86hcmxs-cyrus-sasl-2.1.28-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/37mg2p6av0j1h6h6kgb0pp9y7593qdvi-cyrus-sasl-2.1.28-dev"
            },
            {
              "name": "devdoc",
              "path": "/nix/store/6hr6rqcxp4abvzyyvg5vh0xxx6a33djn-cyrus-sasl-2.1.28-devdoc"
            },
            {
              "name": "out",
              "path": "/nix/store/qxs3ifp63bbg2xzkdizh6wc62prsh4vp-cyrus-sasl-2.1.28"
            }
          ],
          "store_path": "/nix/store/jmrlx2qdwh0f1iq5v93zxbvx3cdpqp6a-cyrus-sasl-2.1.28-bin"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/m1849v33606g5li1g1znvr9ddhz8pmzn-cyrus-sasl-2.1.28-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/h9kk4v0qw4xgr210xs0balp7ahn8mb8h-cyrus-sasl-2.1.28-man",
              "default": true
            },
            {
              "name": "out",
              "path": "/nix/store/mbf95yp54ai8ppa3lyspdgchis49mrqw-cyrus-sasl-2.1.28"
            },
            {
              "name": "dev",
              "path": "/nix/store/zc52hw8z6qfbdf7sqky0574qx4pqr0nv-cyrus-sasl-2.1.28-dev"
            },
            {
              "name": "devdoc",
              "path": "/nix/store/clw283f4xfp0i1p206a0xllcdhhxgxnp-cyrus-sasl-2.1.28-devdoc"
            }
          ],
          "store_path": "/nix/store/m1849v33606g5li1g1znvr9ddhz8pmzn-cyrus-sasl-2.1.28-bin"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/66g5610xmdnn3bb08kc64aij4i475aza-cyrus-sasl-2.1.28-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/0m0n4g0cwq2khaa1lqq7y24p45ygp0f9-cyrus-sasl-2.1.28-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/zzypp7kxj8b4v9dkhsq83gffa4lv2hlc-cyrus-sasl-2.1.28-dev"
            },
            {
              "name": "devdoc",
              "path": "/nix/store/4gcappl8q8hy67qa22bag2w5b0czr9yk-cyrus-sasl-2.1.28-devdoc"
            },
            {
              "name": "out",
              "path": "/nix/store/m8bfgn24lqrxdpca4mg32zqi1nnaipy8-cyrus-sasl-2.1.28"
            }
          ],
          "store_path": "/nix/store/66g5610xmdnn3bb08kc64aij4i475aza-cyrus-sasl-2.1.28-bin"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/p2mbaha97ljq0nqrwpp2wsmcl156qnaa-cyrus-sasl-2.1.28-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/2r4azlw4lsma4bqr8iwdbdvndbyvfj4d-cyrus-sasl-2.1.28-man",
              "default": true
            },
            {
              "name": "out",
              "path": "/nix/store/wb5iyh14317di4kayjxjr20nccmngw6v-cyrus-sasl-2.1.28"
            },
            {
              "name": "dev",
              "path": "/nix/store/93n34a269xp7yh2iiahmxwkxx6qxqm32-cyrus-sasl-2.1.28-dev"
            },
            {
              "name": "devdoc",
              "path": "/nix/store/mvyrgw5clwcr61i35p0hr3cw3cszdr50-cyrus-sasl-2.1.28-devdoc"
            }
          ],
          "store_path": "/nix/store/p2mbaha97ljq0nqrwpp2wsmcl156qnaa-cyrus-sasl-2.1.28-bin"
        }
      }
    },
    "freetype@latest": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#freetype",
      "source": "devbox-search",
      "version": "2.13.3",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/8l3a99909gz4qvdphl7skjz3bxzfg77f-freetype-2.13.3",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/skny1c4mshia8kjay2id3ms6dplc8zl7-freetype-2.13.3-dev"
            }
          ],
          "store_path": "/nix/store/8l3a99909gz4qvdphl7skjz3bxzfg77f-freetype-2.13.3"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/6ax9ayx4drax48xp1mlvpibza0k6767c-freetype-2.13.3",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/92kj9jk4qbhm9wwp70jwjv1ddi36i05j-freetype-2.13.3-dev"
            }
          ],
          "store_path": "/nix/store/6ax9ayx4drax48xp1mlvpibza0k6767c-freetype-2.13.3"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/9dvbswy8mzblp915arbyl4lhnr5dkg0f-freetype-2.13.3",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/37i04bsb0xdzx8q7cxlil0j387q6g3fk-freetype-2.13.3-dev"
            }
          ],
          "store_path": "/nix/store/9dvbswy8mzblp915arbyl4lhnr5dkg0f-freetype-2.13.3"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/ldyiyphqy3imqjj3n6h6vvrb7amdj1fa-freetype-2.13.3",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/272w1q8sg6qmglcw6xfnb4qixzzryyqb-freetype-2.13.3-dev"
            }
          ],
          "store_path": "/nix/store/ldyiyphqy3imqjj3n6h6vvrb7amdj1fa-freetype-2.13.3"
        }
      }
    },
    "gcc@latest": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#gcc",
      "source": "devbox-search",
      "version": "15.2.0",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/jskl8vz7wnwlsjmh88ia3wyw4yyfjgb5-gcc-wrapper-15.2.0",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/65ygwdw9pjlrycn1aki9wfj97fb04wir-gcc-wrapper-15.2.0-man",
              "default": true
            },
            {
              "name": "info",
              "path": "/nix/store/gblx2c361wmf7fn839ppi2z2bw2wzvhz-gcc-wrapper-15.2.0-info"
            }
          ],
          "store_path": "/nix/store/jskl8vz7wnwlsjmh88ia3wyw4yyfjgb5-gcc-wrapper-15.2.0"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/waack2w5n0208w1qy7pxnwxbsq2n26vm-gcc-wrapper-15.2.0",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/3sbhv99id58xjminaqr8m6dq1h6zvfcp-gcc-wrapper-15.2.0-man",
              "default": true
            },
            {
              "name": "info",
              "path": "/nix/store/zq0lwn9ai4q1jcfkrrc98cia15yp9zv2-gcc-wrapper-15.2.0-info"
            }
          ],
          "store_path": "/nix/store/waack2w5n0208w1qy7pxnwxbsq2n26vm-gcc-wrapper-15.2.0"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/k1mhp0ywg1xp6mzixk1r3ccjzwixmbw0-gcc-wrapper-15.2.0",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/f9n421lz4dbxdq8pvv5szk8dp4lvyqpl-gcc-wrapper-15.2.0-man",
              "default": true
            },
            {
              "name": "info",
              "path": "/nix/store/36gfwxk8n31cijjswpxbji3y2lbigcbp-gcc-wrapper-15.2.0-info"
            }
          ],
          "store_path": "/nix/store/k1mhp0ywg1xp6mzixk1r3ccjzwixmbw0-gcc-wrapper-15.2.0"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/hb2bs5fg5wkm04x565737qd5nh2hy5nk-gcc-wrapper-15.2.0",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/n58glhbv7fnb3bqvbdh6ib7pv456cm4n-gcc-wrapper-15.2.0-man",
              "default": true
            },
            {
              "name": "info",
              "path": "/nix/store/gzq6x9nsc2g1b4z0xlxnl3n8ahzcrgql-gcc-wrapper-15.2.0-info"
            }
          ],
          "store_path": "/nix/store/hb2bs5fg5wkm04x565737qd5nh2hy5nk-gcc-wrapper-15.2.0"
        }
      }
    },
    "git@latest": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#git",
      "source": "devbox-search",
      "version": "2.53.0",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/6qbj40r0s289k5slmy8yna5x2hfz01wg-git-2.53.0",
              "default": true
            },
            {
              "name": "doc",
              "path": "/nix/store/xp9w7bcl4c78268kn82qdayqglj0zdxa-git-2.53.0-doc"
            }
          ],
          "store_path": "/nix/store/6qbj40r0s289k5slmy8yna5x2hfz01wg-git-2.53.0"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/0vbb6j0ppx1w8cw28h7w8s2dzla9j3m6-git-2.53.0",
              "default": true
            },
            {
              "name": "debug",
              "path": "/nix/store/gaj4q67pid2pcy9nvh2ysv4728wxj5m4-git-2.53.0-debug"
            },
            {
              "name": "doc",
              "path": "/nix/store/9mrg9g0w2b4cfdppq3n4zvhkvyixvqpx-git-2.53.0-doc"
            }
          ],
          "store_path": "/nix/store/0vbb6j0ppx1w8cw28h7w8s2dzla9j3m6-git-2.53.0"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/2q2hzaclp1rsj65h21lng7wa26vawhnq-git-2.53.0",
              "default": true
            },
            {
              "name": "doc",
              "path": "/nix/store/yi2mi426la2x7rggv0a0ah11s2dangz4-git-2.53.0-doc"
            }
          ],
          "store_path": "/nix/store/2q2hzaclp1rsj65h21lng7wa26vawhnq-git-2.53.0"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/7yvcckar1lzhqnr0xx2n19nsdjd4qa4d-git-2.53.0",
              "default": true
            },
            {
              "name": "doc",
              "path": "/nix/store/rv7cz5lz1qmbdnh3zrpv0j0wa5ivaacq-git-2.53.0-doc"
            },
            {
              "name": "debug",
              "path": "/nix/store/9xs1n97fsdbgnk8cxbdx3hqlz6fdaynb-git-2.53.0-debug"
            }
          ],
          "store_path": "/nix/store/7yvcckar1lzhqnr0xx2n19nsdjd4qa4d-git-2.53.0"
        }
      }
    },
    "github:NixOS/nixpkgs/nixpkgs-unstable": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b?lastModified=1776329215&narHash=sha256-a8BYi3mzoJ%2FAcJP8UldOx8emoPRLeWqALZWu4ZvjPXw%3D"
    },
    "gnumake@latest": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#gnumake",
      "source": "devbox-search",
      "version": "4.4.1",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/y40n7jzzy9qydb120kxgbzi55mprbkfm-gnumake-4.4.1",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/b2y9y7i57sml44mk7wl4ba8wr8adgavs-gnumake-4.4.1-man",
              "default": true
            },
            {
              "name": "info",
              "path": "/nix/store/xynyfhcn9r7jd4iakdr71yb6grabjgf7-gnumake-4.4.1-info"
            },
            {
              "name": "doc",
              "path": "/nix/store/hb81l6za1swj09szhxj902bjf9b9cwzc-gnumake-4.4.1-doc"
            }
          ],
          "store_path": "/nix/store/y40n7jzzy9qydb120kxgbzi55mprbkfm-gnumake-4.4.1"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/j8hf0sbds6y5il4vb2bz3rx0xivmnsl1-gnumake-4.4.1",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/j4psv3ifmnw0wa8p38rxv5k6vskz4wcs-gnumake-4.4.1-man",
              "default": true
            },
            {
              "name": "debug",
              "path": "/nix/store/px43zlq4bz3zjmc91b6wb6949c8dfxvi-gnumake-4.4.1-debug"
            },
            {
              "name": "doc",
              "path": "/nix/store/jhss2k9jczl72jk284kvaj9303yvylwy-gnumake-4.4.1-doc"
            },
            {
              "name": "info",
              "path": "/nix/store/1qf6j3yza10lw1iy9w0qm9gliqzfw6xk-gnumake-4.4.1-info"
            }
          ],
          "store_path": "/nix/store/j8hf0sbds6y5il4vb2bz3rx0xivmnsl1-gnumake-4.4.1"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/bijx0sq7avqq7apvqsfb3lmza97lpcxz-gnumake-4.4.1",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/r2qnj53aynk05zan3z2j960klx7085dq-gnumake-4.4.1-man",
              "default": true
            },
            {
              "name": "doc",
              "path": "/nix/store/2fz6r9nchhyn4i7f9gg5assx9ld2j3mm-gnumake-4.4.1-doc"
            },
            {
              "name": "info",
              "path": "/nix/store/h0jgx7zbyyvhcj0lq0la6siv4d3bl9xa-gnumake-4.4.1-info"
            }
          ],
          "store_path": "/nix/store/bijx0sq7avqq7apvqsfb3lmza97lpcxz-gnumake-4.4.1"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/45npani18v2m7sbkrzrv2xyilyghrny9-gnumake-4.4.1",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/p75qwzzsxdhpnhdjx4fbjy20p9qxp326-gnumake-4.4.1-man",
              "default": true
            },
            {
              "name": "debug",
              "path": "/nix/store/bzap48lhfqcjczhj2ry3gwqjh9klkgxf-gnumake-4.4.1-debug"
            },
            {
              "name": "doc",
              "path": "/nix/store/0jx03f9vis4zp8b7s2ybp9anlgk68ihy-gnumake-4.4.1-doc"
            },
            {
              "name": "info",
              "path": "/nix/store/pbs6fhcn3gjr6x9fzdlk0kwqg1m5gk5g-gnumake-4.4.1-info"
            }
          ],
          "store_path": "/nix/store/45npani18v2m7sbkrzrv2xyilyghrny9-gnumake-4.4.1"
        }
      }
    },
    "lcms2@latest": {
      "last_modified": "2023-03-16T17:26:55Z",
      "resolved": "github:NixOS/nixpkgs/194c2aa446b2b059886bb68be15ef6736d5a8c31#lcms2",
      "source": "devbox-search",
      "version": "2.13.1",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/k5zjym66afpfjh50r63ma1396f63xxbr-lcms2-2.13.1-bin",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/61qsaacwnlpihx52bmvkp9irv23fc1jx-lcms2-2.13.1-dev"
            },
            {
              "name": "out",
              "path": "/nix/store/275w5fwg59yqgp3k3zyg7h4j2hk3icvp-lcms2-2.13.1"
            }
          ],
          "store_path": "/nix/store/k5zjym66afpfjh50r63ma1396f63xxbr-lcms2-2.13.1-bin"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/rys9manb9bx6i2abzwqwmrykxq599l12-lcms2-2.13.1-bin",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/9qrwiprvvb9gm3vjiarjzvnngj6w25s2-lcms2-2.13.1-dev"
            },
            {
              "name": "out",
              "path": "/nix/store/047qqaxgqpgw6iqn2cj3r9yh0dvxhdak-lcms2-2.13.1"
            }
          ],
          "store_path": "/nix/store/rys9manb9bx6i2abzwqwmrykxq599l12-lcms2-2.13.1-bin"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/v8lbc41a4gblfabbh1yvpiv9bhvwv4n4-lcms2-2.13.1-bin",
              "default": true
            },
            {
              "name": "out",
              "path": "/nix/store/53shzar1b6a536alvh8gwl8vjb8yx6lb-lcms2-2.13.1"
            },
            {
              "name": "dev",
              "path": "/nix/store/hhwq0wz4v82b2c1im18kasv4962jxnhj-lcms2-2.13.1-dev"
            }
          ],
          "store_path": "/nix/store/v8lbc41a4gblfabbh1yvpiv9bhvwv4n4-lcms2-2.13.1-bin"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/z910wnmpilkb24mppppcx4nbdfgj0p2z-lcms2-2.13.1-bin",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/2bi6lgh62mr4zw85v81xmzd4qkmavls6-lcms2-2.13.1-dev"
            },
            {
              "name": "out",
              "path": "/nix/store/b7hxfyw76sicr6k5p4z4l06p31a2h56f-lcms2-2.13.1"
            }
          ],
          "store_path": "/nix/store/z910wnmpilkb24mppppcx4nbdfgj0p2z-lcms2-2.13.1-bin"
        }
      }
    },
    "libffi@latest": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#libffi",
      "source": "devbox-search",
      "version": "3.5.2",
      "systems": {
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/92xdlb1wksbxrrby7naingaqamag50ip-libffi-3.5.2",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/j0mcmmmng00m5lv96qnm7pd0nga3cdd3-libffi-3.5.2-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/jk6hlxpxb6giysa515vkpzsxm783g19k-libffi-3.5.2-dev"
            },
            {
              "name": "info",
              "path": "/nix/store/qqg85wg2c4nv6gacsnb0dzwqr253qygz-libffi-3.5.2-info"
            }
          ],
          "store_path": "/nix/store/92xdlb1wksbxrrby7naingaqamag50ip-libffi-3.5.2"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/8zgy79sw0zjwfcfp78p883hkkdw0pdzs-libffi-3.5.2",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/7hg38q948zic7fxlnrphsbg2zr6p8pmm-libffi-3.5.2-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/qqwdjfcvsw0v2xan4d0x5j0jqx8gk74f-libffi-3.5.2-dev"
            },
            {
              "name": "info",
              "path": "/nix/store/pj29zc10c0fix3lkncqlfgr784q25zhb-libffi-3.5.2-info"
            }
          ],
          "store_path": "/nix/store/8zgy79sw0zjwfcfp78p883hkkdw0pdzs-libffi-3.5.2"
        }
      }
    },
    "libjpeg@latest": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#libjpeg",
      "source": "devbox-search",
      "version": "3.1.3",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/x041wqgyk6z62wa6jppw27a6f2x9280q-libjpeg-turbo-3.1.3-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/mw1w6k5xgcfrg6hn8pl578wjv05wqprp-libjpeg-turbo-3.1.3-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/klw6f55r3ahnvyrk8a8j1bg1hrwzlnv8-libjpeg-turbo-3.1.3-dev"
            },
            {
              "name": "doc",
              "path": "/nix/store/3qanm49sgz3bwhazaz2ai2zgjsr51fl3-libjpeg-turbo-3.1.3-doc"
            },
            {
              "name": "out",
              "path": "/nix/store/1zmy0ich16zbri5bm4x6s858x6b368k0-libjpeg-turbo-3.1.3"
            }
          ],
          "store_path": "/nix/store/x041wqgyk6z62wa6jppw27a6f2x9280q-libjpeg-turbo-3.1.3-bin"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/g96fajvqnvmkrgfm342k79q1iaagwn8k-libjpeg-turbo-3.1.3-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/4q6lmdzxiw08qr5rd8r7w0y0s1w2qmwd-libjpeg-turbo-3.1.3-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/m7lmrw9fvfd6i8gwi7k3v5clpjppzq9l-libjpeg-turbo-3.1.3-dev"
            },
            {
              "name": "doc",
              "path": "/nix/store/5ig7fq43j3z9x4va6cqz4yhhqx1kf4r8-libjpeg-turbo-3.1.3-doc"
            },
            {
              "name": "out",
              "path": "/nix/store/mhz3hzrgqyb4bs8zimpybcam82vx7ffz-libjpeg-turbo-3.1.3"
            }
          ],
          "store_path": "/nix/store/g96fajvqnvmkrgfm342k79q1iaagwn8k-libjpeg-turbo-3.1.3-bin"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/02k5dyq28yq6in2r1r8rk0l3xp6zhrg6-libjpeg-turbo-3.1.3-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/q8jhys71v0i76l0yiwk3a4xfz5mmrxm0-libjpeg-turbo-3.1.3-man",
              "default": true
            },
            {
              "name": "out",
              "path": "/nix/store/ggs0wj6r7aa22s7q7whk96s144pa4p2v-libjpeg-turbo-3.1.3"
            },
            {
              "name": "dev",
              "path": "/nix/store/vdjjym03hy4fzyw4fhqwflmsgvz2ah01-libjpeg-turbo-3.1.3-dev"
            },
            {
              "name": "doc",
              "path": "/nix/store/pp9i9wwfi2qiwqwp6m5f8rl5qbj26q3l-libjpeg-turbo-3.1.3-doc"
            }
          ],
          "store_path": "/nix/store/02k5dyq28yq6in2r1r8rk0l3xp6zhrg6-libjpeg-turbo-3.1.3-bin"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/axv3zbnnkzs4ig05gmj7s4j6j9wpnj8p-libjpeg-turbo-3.1.3-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/4cyx4irh8m52l970vmmz52za92m33scp-libjpeg-turbo-3.1.3-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/7swmfh9ps1zl43yh4h8dqvrkw8k04fm4-libjpeg-turbo-3.1.3-dev"
            },
            {
              "name": "doc",
              "path": "/nix/store/605pqsfgxqbvrbw7x2fn6ccdyh8a02s6-libjpeg-turbo-3.1.3-doc"
            },
            {
              "name": "out",
              "path": "/nix/store/xp28zc157vrm8ij4d5ib6n9ilz6nqpgi-libjpeg-turbo-3.1.3"
            }
          ],
          "store_path": "/nix/store/axv3zbnnkzs4ig05gmj7s4j6j9wpnj8p-libjpeg-turbo-3.1.3-bin"
        }
      }
    },
    "libxml2@latest": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#libxml2",
      "source": "devbox-search",
      "version": "2.15.1",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/q4kpqqc15s0nddjpq7lckwxi7j4lfbzg-libxml2-2.15.1-bin",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/z67l0lim5plirgxwicfinhfaq9jsmzja-libxml2-2.15.1-dev"
            },
            {
              "name": "out",
              "path": "/nix/store/2hrh2ci6j0kahh4m58ldy275k3rfkm2n-libxml2-2.15.1"
            }
          ],
          "store_path": "/nix/store/q4kpqqc15s0nddjpq7lckwxi7j4lfbzg-libxml2-2.15.1-bin"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/h1arrinwz27h6x1yyp6rrxz50mbrjcjd-libxml2-2.15.1-bin",
              "default": true
            },
            {
              "name": "out",
              "path": "/nix/store/6ws6pdhk27xj24is3jcd0p13yciv048n-libxml2-2.15.1"
            },
            {
              "name": "dev",
              "path": "/nix/store/qik1kz8ca2zdas9rlad4i6zmp33jdd6l-libxml2-2.15.1-dev"
            }
          ],
          "store_path": "/nix/store/h1arrinwz27h6x1yyp6rrxz50mbrjcjd-libxml2-2.15.1-bin"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/k3q5b1zw6izqhk1g6yc8a71x5hy0xd27-libxml2-2.15.1-bin",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/3gqd8hj7nw3msjarlbdzbi5spp67gh1i-libxml2-2.15.1-dev"
            },
            {
              "name": "out",
              "path": "/nix/store/j6fclnyqs1ghk6g0drlj8mlx42r8d5h9-libxml2-2.15.1"
            }
          ],
          "store_path": "/nix/store/k3q5b1zw6izqhk1g6yc8a71x5hy0xd27-libxml2-2.15.1-bin"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/ch9b3d4a9qph5ddc5p0dy97a1xas2m7j-libxml2-2.15.1-bin",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/qksl9njlazdmr8600sz9mqh7pvxcad52-libxml2-2.15.1-dev"
            },
            {
              "name": "out",
              "path": "/nix/store/v5k7aj5qfr8spbak4xnjhb9g5g3dzsar-libxml2-2.15.1"
            }
          ],
          "store_path": "/nix/store/ch9b3d4a9qph5ddc5p0dy97a1xas2m7j-libxml2-2.15.1-bin"
        }
      }
    },
    "libxslt@latest": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#libxslt",
      "source": "devbox-search",
      "version": "1.1.45",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/14fbdpza5mxqk08iswr1ll1f2xmrblj3-libxslt-1.1.45-bin",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/vbnmjzbyqyig9ya77r0vc117fzmk8f9n-libxslt-1.1.45-dev"
            },
            {
              "name": "devdoc",
              "path": "/nix/store/mkmyaqbqkrmkknm08khk2l1hvv7fdgc1-libxslt-1.1.45-devdoc"
            },
            {
              "name": "doc",
              "path": "/nix/store/4fbmgwi1gix4v758kllijyv7kqm60b5q-libxslt-1.1.45-doc"
            },
            {
              "name": "out",
              "path": "/nix/store/wxfz5r34mx8jqx2d15f18hpvyfn48kxa-libxslt-1.1.45"
            }
          ],
          "store_path": "/nix/store/14fbdpza5mxqk08iswr1ll1f2xmrblj3-libxslt-1.1.45-bin"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/nag5y95q6rxnncm265ww2mfp4ga2g8x7-libxslt-1.1.45-bin",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/b832hkgmwhc0iy0a7qgpn91hfk30sgx4-libxslt-1.1.45-dev"
            },
            {
              "name": "devdoc",
              "path": "/nix/store/yj3l92kb43v94bpx6g6dx38lili51ibv-libxslt-1.1.45-devdoc"
            },
            {
              "name": "doc",
              "path": "/nix/store/yrs0zqa2jw0kb05j4d6hwpf586fbvsic-libxslt-1.1.45-doc"
            },
            {
              "name": "out",
              "path": "/nix/store/dlgaxp65lpa0arhglh0ghqpci0vrrrkn-libxslt-1.1.45"
            }
          ],
          "store_path": "/nix/store/nag5y95q6rxnncm265ww2mfp4ga2g8x7-libxslt-1.1.45-bin"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/rxpnnbwmg8qkdim2w72a37l5m4hjzssa-libxslt-1.1.45-bin",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/751l41a68z6fknh01d7b7vyll32ijn6n-libxslt-1.1.45-dev"
            },
            {
              "name": "devdoc",
              "path": "/nix/store/azkpi6h48r19h5lhwlyygfjxk2shxiiw-libxslt-1.1.45-devdoc"
            },
            {
              "name": "doc",
              "path": "/nix/store/1gjyngf6qx7zmxbddbq0dzr92ffv0man-libxslt-1.1.45-doc"
            },
            {
              "name": "out",
              "path": "/nix/store/f3jrbg3aap418nx87hwkqhih2971acjn-libxslt-1.1.45"
            }
          ],
          "store_path": "/nix/store/rxpnnbwmg8qkdim2w72a37l5m4hjzssa-libxslt-1.1.45-bin"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/g90hc21kna4yyksmnc11zvb4krx70cqw-libxslt-1.1.45-bin",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/cf7kd5zlawss97ygdz0kfz22z420bc23-libxslt-1.1.45-dev"
            },
            {
              "name": "devdoc",
              "path": "/nix/store/kpy82w7ahkdi6v9iclbxdzymzb9xzk93-libxslt-1.1.45-devdoc"
            },
            {
              "name": "doc",
              "path": "/nix/store/jrd1na0x24n3nq8zsgllyyzpdbpqpxcn-libxslt-1.1.45-doc"
            },
            {
              "name": "out",
              "path": "/nix/store/vwdvv1ps2xhg557ch9xdhcphm1grc6bl-libxslt-1.1.45"
            }
          ],
          "store_path": "/nix/store/g90hc21kna4yyksmnc11zvb4krx70cqw-libxslt-1.1.45-bin"
        }
      }
    },
    "openldap@latest": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#openldap",
      "source": "devbox-search",
      "version": "2.6.9",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/vhfqrk9rd6wl5vgsm7rk87gicp2xgh89-openldap-2.6.9",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/pk4psc4zw3rrrd9phxlm19jgwcnb6qhn-openldap-2.6.9-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/3nsv5388x0yxvb7w3kr1lhy05f28wxvf-openldap-2.6.9-dev"
            },
            {
              "name": "devdoc",
              "path": "/nix/store/2y7s6z2qkbcqkqqglp8jlm3aqmw7g8il-openldap-2.6.9-devdoc"
            }
          ],
          "store_path": "/nix/store/vhfqrk9rd6wl5vgsm7rk87gicp2xgh89-openldap-2.6.9"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/r9qiraqqyyhagy0jijckns7qr3z0dmbp-openldap-2.6.9",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/0aw31rx9kpgdw71paxk5hx5a7f78xdlh-openldap-2.6.9-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/fw80k4glz9mvh1qz35rbw2s87x552ppn-openldap-2.6.9-dev"
            },
            {
              "name": "devdoc",
              "path": "/nix/store/7xr8f9bx265l3pagfri2qqzp4rqczdgy-openldap-2.6.9-devdoc"
            }
          ],
          "store_path": "/nix/store/r9qiraqqyyhagy0jijckns7qr3z0dmbp-openldap-2.6.9"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/s8x1jd5467izg0anl5j7fdc39dflr2bl-openldap-2.6.9",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/2hv1qqfvsa7x1ibkm741hphfnkj6cqnm-openldap-2.6.9-man",
              "default": true
            },
            {
              "name": "devdoc",
              "path": "/nix/store/8ayi83razl44f6miqbpgwjkq0gj7isnw-openldap-2.6.9-devdoc"
            },
            {
              "name": "dev",
              "path": "/nix/store/rpi8981dy0wps9w3lqv89hzrm7lai694-openldap-2.6.9-dev"
            }
          ],
          "store_path": "/nix/store/s8x1jd5467izg0anl5j7fdc39dflr2bl-openldap-2.6.9"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/c1mgjk13qgih9gifkk8pjw0cdm1dx3dl-openldap-2.6.9",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/bh64l0mgly647ka9fj4kcj2schai5zp2-openldap-2.6.9-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/jppmqzjyvcd4j6fvcjijch03b43k6z72-openldap-2.6.9-dev"
            },
            {
              "name": "devdoc",
              "path": "/nix/store/jb4g7rxpmf2g81p4cbiw7cfr14hf6h9b-openldap-2.6.9-devdoc"
            }
          ],
          "store_path": "/nix/store/c1mgjk13qgih9gifkk8pjw0cdm1dx3dl-openldap-2.6.9"
        }
      }
    },
    "openssl@latest": {
      "last_modified": "2025-12-05T06:24:47Z",
      "resolved": "github:NixOS/nixpkgs/42e29df35be6ef54091d3a3b4e97056ce0a98ce8#openssl",
      "source": "devbox-search",
      "version": "3.6.0",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/z9prisxci5h5lsk3rdknd4jzq7k9q13d-openssl-3.6.0-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/ii9mnzr3i92mgk9dkgg65739mavd0j6f-openssl-3.6.0-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/h0qgqik0mk0wn7rmm2kk3grfi1wzly74-openssl-3.6.0-dev"
            },
            {
              "name": "doc",
              "path": "/nix/store/yx3ip21fdaaxpjn5fbir02mqnaw9cm4f-openssl-3.6.0-doc"
            },
            {
              "name": "out",
              "path": "/nix/store/3z54dgks2mz3dhwddj158sdibll8xmq5-openssl-3.6.0"
            }
          ],
          "store_path": "/nix/store/z9prisxci5h5lsk3rdknd4jzq7k9q13d-openssl-3.6.0-bin"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/wb6q44n9kcb5acmaa4rgqsajadx1fhhl-openssl-3.6.0-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/c9n1alb7ypzjvzd47m16fiwfczz23qs3-openssl-3.6.0-man",
              "default": true
            },
            {
              "name": "debug",
              "path": "/nix/store/ci6d4k1sj4bnr892lsrqqmjiihqsk0bl-openssl-3.6.0-debug"
            },
            {
              "name": "dev",
              "path": "/nix/store/pq8b7fb3282g68pmk14mbyi20qn6chid-openssl-3.6.0-dev"
            },
            {
              "name": "doc",
              "path": "/nix/store/vaplp6w56dyz38986bgkf0pbg3r486b2-openssl-3.6.0-doc"
            },
            {
              "name": "out",
              "path": "/nix/store/nj50gkyx813dxvfmsg1q8m330hmf3h86-openssl-3.6.0"
            }
          ],
          "store_path": "/nix/store/wb6q44n9kcb5acmaa4rgqsajadx1fhhl-openssl-3.6.0-bin"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/m3xwn9n0jypwjgi256idfzs979g30j29-openssl-3.6.0-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/hw43f3y1vl7ydrd4samnwnrwqqwkpisv-openssl-3.6.0-man",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/dirjrfjk8jgsbdpslgb51cav6qaxn2vm-openssl-3.6.0-dev"
            },
            {
              "name": "doc",
              "path": "/nix/store/va1zhkz0nfmycvd0h239hi4w40qgaxcx-openssl-3.6.0-doc"
            },
            {
              "name": "out",
              "path": "/nix/store/q9a4wssx24xsy28w8kifdqizc01fh7sc-openssl-3.6.0"
            }
          ],
          "store_path": "/nix/store/m3xwn9n0jypwjgi256idfzs979g30j29-openssl-3.6.0-bin"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "bin",
              "path": "/nix/store/k0gl1zc7f5hk87lylxwbipb0b870bcmk-openssl-3.6.0-bin",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/a9jdl6xq9fc98ykpvqmc9kf0b0j9y8wh-openssl-3.6.0-man",
              "default": true
            },
            {
              "name": "debug",
              "path": "/nix/store/sqv8kbdgfxlr2d6nysr8c2715qpsi6f5-openssl-3.6.0-debug"
            },
            {
              "name": "dev",
              "path": "/nix/store/ydrckgnllgg8nmhdwni81h7xhcpnrlhd-openssl-3.6.0-dev"
            },
            {
              "name": "doc",
              "path": "/nix/store/cgp9ig35iwicfb9spcrgyg2m5dmlcgrv-openssl-3.6.0-doc"
            },
            {
              "name": "out",
              "path": "/nix/store/61i74yjkj9p1qphfl7018ja4sdwkipx0-openssl-3.6.0"
            }
          ],
          "store_path": "/nix/store/k0gl1zc7f5hk87lylxwbipb0b870bcmk-openssl-3.6.0-bin"
        }
      }
    },
    "pkg-config@latest": {
      "last_modified": "2025-11-23T21:50:36Z",
      "resolved": "github:NixOS/nixpkgs/ee09932cedcef15aaf476f9343d1dea2cb77e261#pkg-config",
      "source": "devbox-search",
      "version": "0.29.2",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/hygaaqwk9ylklp0ybwppqhw75nz8ya41-pkg-config-wrapper-0.29.2",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/9px0sji43x3r2w4zxl3j3idwsql7lwxx-pkg-config-wrapper-0.29.2-man",
              "default": true
            },
            {
              "name": "doc",
              "path": "/nix/store/hqk44ra6qxw7iixardl6c3hdgb9kq6ns-pkg-config-wrapper-0.29.2-doc"
            }
          ],
          "store_path": "/nix/store/hygaaqwk9ylklp0ybwppqhw75nz8ya41-pkg-config-wrapper-0.29.2"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/lbiigi8qbp7mzf1lpr7p982l1kyf01ql-pkg-config-wrapper-0.29.2",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/10060k24qggqyzlwdsfmni9y32zxcg0j-pkg-config-wrapper-0.29.2-man",
              "default": true
            },
            {
              "name": "doc",
              "path": "/nix/store/0y4v51ndpyvkj09hwlfqkz0c3h17zfmc-pkg-config-wrapper-0.29.2-doc"
            }
          ],
          "store_path": "/nix/store/lbiigi8qbp7mzf1lpr7p982l1kyf01ql-pkg-config-wrapper-0.29.2"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/vknadizq0q5kffvx6y4379p9gdry9zq3-pkg-config-wrapper-0.29.2",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/1nyspra675q22gfhf7hn2nmfpi6rgim5-pkg-config-wrapper-0.29.2-man",
              "default": true
            },
            {
              "name": "doc",
              "path": "/nix/store/7lq1axxwrafwljs06n88bzyz9w523rkc-pkg-config-wrapper-0.29.2-doc"
            }
          ],
          "store_path": "/nix/store/vknadizq0q5kffvx6y4379p9gdry9zq3-pkg-config-wrapper-0.29.2"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/8vdiwpbh0g4avsd6x5v4s0di32vcl3dp-pkg-config-wrapper-0.29.2",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/j9xfpnrygg3v37svc5pfin9q5bm49r94-pkg-config-wrapper-0.29.2-man",
              "default": true
            },
            {
              "name": "doc",
              "path": "/nix/store/x3bypxdxaq20kykybhkf21x4jczsiy8y-pkg-config-wrapper-0.29.2-doc"
            }
          ],
          "store_path": "/nix/store/8vdiwpbh0g4avsd6x5v4s0di32vcl3dp-pkg-config-wrapper-0.29.2"
        }
      }
    },
    "postgresql@17": {
      "last_modified": "2026-04-16T08:46:55Z",
      "plugin_version": "0.0.2",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#postgresql",
      "source": "devbox-search",
      "version": "17.9",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/rcz8zc21n6rx4igsdgngmkwnln4f7dy5-postgresql-17.9",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/v9ad61kyx28sfzs48j9077iiv61fqzb0-postgresql-17.9-man",
              "default": true
            },
            {
              "name": "jit",
              "path": "/nix/store/9wrci7zgca8ygxgcg8qhk69kkk2hvnvg-postgresql-17.9-jit"
            },
            {
              "name": "doc",
              "path": "/nix/store/gillzna13al7axbhkqyjf7wwfkfbh4nn-postgresql-17.9-doc"
            },
            {
              "name": "lib",
              "path": "/nix/store/h9xg40fr3hqn9lhckdf1sjp2w7zdl92n-postgresql-17.9-lib"
            },
            {
              "name": "plperl",
              "path": "/nix/store/ywrc7vv5mdsz79z4nfid0asnzlwxp3zn-postgresql-17.9-plperl"
            },
            {
              "name": "plpython3",
              "path": "/nix/store/jzj6b2zw28dxy8jjfvzlfbmdl8mypv2m-postgresql-17.9-plpython3"
            },
            {
              "name": "pltcl",
              "path": "/nix/store/ya921lh5kkcrdgk09y9580prw5yg27f2-postgresql-17.9-pltcl"
            },
            {
              "name": "dev",
              "path": "/nix/store/yzvwbyh0gqrprnw5rdnhjmcmyvrl9ql4-postgresql-17.9-dev"
            }
          ],
          "store_path": "/nix/store/rcz8zc21n6rx4igsdgngmkwnln4f7dy5-postgresql-17.9"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/bw97pvf1fg3y7yjvw24g83448v8p48m0-postgresql-17.9",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/j22nri44hhgyxbg78glds0im2y608cn9-postgresql-17.9-man",
              "default": true
            },
            {
              "name": "plperl",
              "path": "/nix/store/951fcy0jfrwz8rhi8668fqi72wwdj1qa-postgresql-17.9-plperl"
            },
            {
              "name": "plpython3",
              "path": "/nix/store/fha23nr7d2i16ns2z7wsrlx65fxpazxh-postgresql-17.9-plpython3"
            },
            {
              "name": "debug",
              "path": "/nix/store/rlk7xis3dfyll5z1fny70ksi3yqh1yy7-postgresql-17.9-debug"
            },
            {
              "name": "dev",
              "path": "/nix/store/gvivc80vkanv4cd41r1fz0dz9qr2bsjq-postgresql-17.9-dev"
            },
            {
              "name": "doc",
              "path": "/nix/store/39f586jzgzlkcc3dp8zajyjnf2w2mymr-postgresql-17.9-doc"
            },
            {
              "name": "pltcl",
              "path": "/nix/store/b9zsqpp7znmvxghjy9ihlk3p75xvd3pz-postgresql-17.9-pltcl"
            },
            {
              "name": "jit",
              "path": "/nix/store/iw7rjv0gjb23fwil2j0zjbghrj8bgd7q-postgresql-17.9-jit"
            },
            {
              "name": "lib",
              "path": "/nix/store/b25khikzni3m8q8nyv3mrxa5v63bqsam-postgresql-17.9-lib"
            }
          ],
          "store_path": "/nix/store/bw97pvf1fg3y7yjvw24g83448v8p48m0-postgresql-17.9"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/jgrfz7nzjh9m5ymfv0831aamk9ci5ds9-postgresql-17.9",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/q824ybxz07qzwrwk9hkd16y0yl7mlp5i-postgresql-17.9-man",
              "default": true
            },
            {
              "name": "plperl",
              "path": "/nix/store/p51i9h8vwml5nj6i91g0hh2zh93c4iap-postgresql-17.9-plperl"
            },
            {
              "name": "plpython3",
              "path": "/nix/store/6a5lqzcdxiqn5nqlfddjdb921z7a35in-postgresql-17.9-plpython3"
            },
            {
              "name": "pltcl",
              "path": "/nix/store/cvvvm05xz8735kxb2jqh6gvxfvps1cpw-postgresql-17.9-pltcl"
            },
            {
              "name": "dev",
              "path": "/nix/store/p99q8ixd6kkw2fr8zpfsmc0m3gwqcjjw-postgresql-17.9-dev"
            },
            {
              "name": "doc",
              "path": "/nix/store/87c2fid7ppzyd3n3i5id3iiipybgzcp7-postgresql-17.9-doc"
            },
            {
              "name": "jit",
              "path": "/nix/store/f6qm2151lg98kmayd1kddmgqv9wh1m4f-postgresql-17.9-jit"
            },
            {
              "name": "lib",
              "path": "/nix/store/shz3ms0ww02df1k2qrzk0mv3g6ilr33j-postgresql-17.9-lib"
            }
          ],
          "store_path": "/nix/store/jgrfz7nzjh9m5ymfv0831aamk9ci5ds9-postgresql-17.9"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/zhaly0y0af2m7wyijyhdanm6a9l5lydv-postgresql-17.9",
              "default": true
            },
            {
              "name": "man",
              "path": "/nix/store/hgrmddv5rl1axc814n8f27q8gjlxpdz5-postgresql-17.9-man",
              "default": true
            },
            {
              "name": "jit",
              "path": "/nix/store/87sz1iy2q7v0fcsrgbkmryrp390v5sl9-postgresql-17.9-jit"
            },
            {
              "name": "plperl",
              "path": "/nix/store/4dnwbih86p5grx6ys7faq29nh9w0krky-postgresql-17.9-plperl"
            },
            {
              "name": "plpython3",
              "path": "/nix/store/rr62jngbsjqim8k5r761h985y88zci8w-postgresql-17.9-plpython3"
            },
            {
              "name": "debug",
              "path": "/nix/store/yhvkyzaxm3lcs7kk8qri3ql34p6h7dmc-postgresql-17.9-debug"
            },
            {
              "name": "doc",
              "path": "/nix/store/x41xsx8n2j3l53dr6qfr1w7i9q1pvb3b-postgresql-17.9-doc"
            },
            {
              "name": "lib",
              "path": "/nix/store/il7gfijl01sxk16h9pffc5yan70vbqfp-postgresql-17.9-lib"
            },
            {
              "name": "pltcl",
              "path": "/nix/store/292bd6aqwdsrd3bkvj8yjgwgg5nqlgjv-postgresql-17.9-pltcl"
            },
            {
              "name": "dev",
              "path": "/nix/store/w8vci17bmzkbxclrkjxg2bd3aachf5i8-postgresql-17.9-dev"
            }
          ],
          "store_path": "/nix/store/zhaly0y0af2m7wyijyhdanm6a9l5lydv-postgresql-17.9"
        }
      }
    },
    "python@3.12": {
      "last_modified": "2026-04-16T08:46:55Z",
      "plugin_version": "0.0.4",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#python312",
      "source": "devbox-search",
      "version": "3.12.13",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/i61paf2j8s4386774b42jzrk0vwazs98-python3-3.12.13",
              "default": true
            }
          ],
          "store_path": "/nix/store/i61paf2j8s4386774b42jzrk0vwazs98-python3-3.12.13"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/my7zqjp1gw9xa72p6ik81jchfgik8naf-python3-3.12.13",
              "default": true
            },
            {
              "name": "debug",
              "path": "/nix/store/92hp83hx7nz2ql9kzpgl63h2rgyr2a2b-python3-3.12.13-debug"
            }
          ],
          "store_path": "/nix/store/my7zqjp1gw9xa72p6ik81jchfgik8naf-python3-3.12.13"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/xv4hp7xwh6xqvwhb1pab12xmk91h1b17-python3-3.12.13",
              "default": true
            }
          ],
          "store_path": "/nix/store/xv4hp7xwh6xqvwhb1pab12xmk91h1b17-python3-3.12.13"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/3437kliwcg0aq7h30alls8mvsv6laarf-python3-3.12.13",
              "default": true
            },
            {
              "name": "debug",
              "path": "/nix/store/6r8c9jpb9wmfnw33fr11qp067xkxwabp-python3-3.12.13-debug"
            }
          ],
          "store_path": "/nix/store/3437kliwcg0aq7h30alls8mvsv6laarf-python3-3.12.13"
        }
      }
    },
    "rtlcss@latest": {
      "last_modified": "2026-04-23T13:07:47Z",
      "resolved": "github:NixOS/nixpkgs/01fbdeef22b76df85ea168fbfe1bfd9e63681b30#rtlcss",
      "source": "devbox-search",
      "version": "4.1.0",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/bz515vijlixav25cpjhb4612mkaacl93-rtlcss-4.1.0",
              "default": true
            }
          ],
          "store_path": "/nix/store/bz515vijlixav25cpjhb4612mkaacl93-rtlcss-4.1.0"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/01pw3pby4h0bbjwpa0ig5ij2kyw353l6-rtlcss-4.1.0",
              "default": true
            }
          ],
          "store_path": "/nix/store/01pw3pby4h0bbjwpa0ig5ij2kyw353l6-rtlcss-4.1.0"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/ggbhzjanb6nw3bns5nar34zc5vj89z5f-rtlcss-4.1.0",
              "default": true
            }
          ],
          "store_path": "/nix/store/ggbhzjanb6nw3bns5nar34zc5vj89z5f-rtlcss-4.1.0"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/lyna2ybs5j90d7cbwf21si7vqp74krxq-rtlcss-4.1.0",
              "default": true
            }
          ],
          "store_path": "/nix/store/lyna2ybs5j90d7cbwf21si7vqp74krxq-rtlcss-4.1.0"
        }
      }
    },
    "wkhtmltopdf@latest": {
      "last_modified": "2026-04-23T13:07:47Z",
      "resolved": "github:NixOS/nixpkgs/01fbdeef22b76df85ea168fbfe1bfd9e63681b30#wkhtmltopdf",
      "source": "devbox-search",
      "version": "0.12.6.1-3",
      "systems": {
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/bzddpywg67qhfpcd4nsbls27f2zqm3zv-wkhtmltopdf-0.12.6.1-3",
              "default": true
            }
          ],
          "store_path": "/nix/store/bzddpywg67qhfpcd4nsbls27f2zqm3zv-wkhtmltopdf-0.12.6.1-3"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/14b03kl4g54np9zp43a6lvxgx1l1arqg-wkhtmltopdf-0.12.6.1-3",
              "default": true
            }
          ],
          "store_path": "/nix/store/14b03kl4g54np9zp43a6lvxgx1l1arqg-wkhtmltopdf-0.12.6.1-3"
        }
      }
    },
    "zlib@latest": {
      "last_modified": "2026-04-16T08:46:55Z",
      "resolved": "github:NixOS/nixpkgs/b86751bc4085f48661017fa226dee99fab6c651b#zlib",
      "source": "devbox-search",
      "version": "1.3.2",
      "systems": {
        "aarch64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/7c0c2fbdxhn649hhd3y70rq3804s7jri-zlib-1.3.2",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/0c61x3k92vpri6paimkhaf845ndy6xc2-zlib-1.3.2-dev"
            },
            {
              "name": "static",
              "path": "/nix/store/1jmynlncrxdx6ljmxih85sczy53ni43c-zlib-1.3.2-static"
            }
          ],
          "store_path": "/nix/store/7c0c2fbdxhn649hhd3y70rq3804s7jri-zlib-1.3.2"
        },
        "aarch64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/dgfnr7mgi1pa4nqpil1xqyyaywdf8bhg-zlib-1.3.2",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/1s8cbsfr35vkbcm0jl7favi3ihaamx6b-zlib-1.3.2-dev"
            },
            {
              "name": "static",
              "path": "/nix/store/bgpni58345kxp8686j832lsknxzpiibx-zlib-1.3.2-static"
            }
          ],
          "store_path": "/nix/store/dgfnr7mgi1pa4nqpil1xqyyaywdf8bhg-zlib-1.3.2"
        },
        "x86_64-darwin": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/wilrqss1jimrk005j40inybp3hhk0iyv-zlib-1.3.2",
              "default": true
            },
            {
              "name": "static",
              "path": "/nix/store/6rlk0ibqlv0g8nyd03iq5a8s7khnb4q9-zlib-1.3.2-static"
            },
            {
              "name": "dev",
              "path": "/nix/store/5b5qm8bm9wp87bgwznvci4pls3p6sidy-zlib-1.3.2-dev"
            }
          ],
          "store_path": "/nix/store/wilrqss1jimrk005j40inybp3hhk0iyv-zlib-1.3.2"
        },
        "x86_64-linux": {
          "outputs": [
            {
              "name": "out",
              "path": "/nix/store/2kdz3m7ic8w226pcvkz1dlg169v91p6a-zlib-1.3.2",
              "default": true
            },
            {
              "name": "dev",
              "path": "/nix/store/gc52c68s6cfcrav5pypmrf3sq5k554ih-zlib-1.3.2-dev"
            },
            {
              "name": "static",
              "path": "/nix/store/mfw8qy1rr6dzny7jd60r7vr4af7ag9sn-zlib-1.3.2-static"
            }
          ],
          "store_path": "/nix/store/2kdz3m7ic8w226pcvkz1dlg169v91p6a-zlib-1.3.2"
        }
      }
    }
  }
}
